<div class="row" [ngClass]="isLast ? '':'row-border-bottom' ">
  <div class="col-sm-1">
    <i class="fa fa-link mt-1" aria-hidden="true" style="font-size: 24pt; color: #9cdbf3"></i>
  </div>
  <div class="col pb-2">
    <div class="row">
      <div class="col-md-12">
        {{message}}
      </div>
      <div class="col-md-12" style="font-size: small; color: gray">
        {{postTime}}
      </div>
    </div>
  </div>
  <div class="col-sm-2 text-center">
    <i class="fa mt-2" [ngClass]="isImportant ? 'fa-star' : 'fa-star-o' " aria-hidden="true" style="font-size: 16pt;"></i>
  </div>
</div>
