<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-theme">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto" style="font-size: larger">
      <!--<li class="nav-item">-->
        <!--<a class="nav-link">-->
          <!--<img src="./assets/img/avatar.png" class="rounded-circle" alt="avatar" height="30px">-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link"><i class="fa fa-bookmark" aria-hidden="true"></i></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link"><i class="fa fa-search" aria-hidden="true"></i></a>-->
      <!--</li>-->
    </ul>
    <a class="navbar-brand mr-auto" href="#"><img src="./assets/img/logo.png" height="40px" alt="logo"></a>
    <ul class="navbar-nav" style="font-size: larger">
    </ul>
  </div>
</nav>
