.sidebar-modal-dialog{
  margin: 0 !important;
  left: 75px;
  width: 300px;
}

.sidebar-modal-content{
  border: none;
  border-radius: 0;
  height: 100vh;

  background: #59a08a;
  background: -webkit-linear-gradient(#59a08a, #304f44);
  background: -o-linear-gradient(#59a08a, #304f44);
  background: -moz-linear-gradient(#59a08a, #304f44);
  background: linear-gradient(#59a08a, #304f44);
}

.modal.fade:not(.in) .modal-dialog {
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}
