<div class="container-fluid mt-5" style="height: calc(100vh - 150px);">
  <div class="row my-3 text-center">
    <div class="col">
      <span>Load previous</span>
    </div>
  </div>
  <div class="row my-3" *ngFor="let message of messages; last as last">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <app-chat-message
        [fromName]="message.fromName"
        [messageText]="message.messageText"
        [postTime]="message.postTime"
        [isFromFinbot]="message.isFromFinbot"
        [avatar]="message.avatar"
        [isLast]="last"
      ></app-chat-message>
    </div>
  </div>
  <div class="row" style="margin-bottom: 84px;"></div>
</div>
<div class="container-fluid fixed-bottom chatinput-container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <app-chat-inputbox></app-chat-inputbox>
    </div>
  </div>
</div>
