<!--<div class="jumbotron jumbotron-fluid" style="position: absolute; left: 0; top: 56px; width: 100%; height: 220px;">-->
  <!--<div class="container mt-5">-->
    <!--<div class="row">-->
      <!--<div class="col-md-1"></div>-->
      <!--<div class="col-md-10 text-left">-->
        <!--<h1 style="font-weight: 300">ASK FINBOT A QUESTION</h1>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="container" style="position: relative; margin-top: 252px;">-->
<div class="container mt-5" style="max-height: calc(95vh - 256px); overflow-y: scroll">
  <div class="row my-3 text-center">
    <div class="col">
      <span>Load previous</span>
    </div>
  </div>
  <div class="row my-3" *ngFor="let message of messages; last as last">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <app-chat-message
        [fromName]="message.fromName"
        [messageText]="message.messageText"
        [postTime]="message.postTime"
        [isFromFinbot]="message.isFromFinbot"
        [avatar]="message.avatar"
        [isLast]="last"
      ></app-chat-message>
    </div>
  </div>
</div>
