<div class="nav-component">
  <div class="list-group">
    <a routerLink="/dashboard" href="#" class="list-group-item list-group-item-action" data-dismiss="modal">
      <i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard
    </a>
    <a routerLink="/news" href="#" class="list-group-item list-group-item-action" data-dismiss="modal">
      <i class="fa fa-feed" aria-hidden="true"></i>News
    </a>
    <a routerLink="/chat" href="#" class="list-group-item list-group-item-action" data-dismiss="modal">
      <i class="fa fa-comments" aria-hidden="true"></i>Cust Case Bot
    </a>
  </div>
</div>
