<div class="card">
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="card-img-container">
          <img class="card-img" src="{{'./assets/news/img/' + img}}" alt="Card image cap">
        </div>
      </div>
      <div class="col">

        <div class="row" style="padding: 20px;">
          <div class="col-md-12 text-left small">
            {{postTime}}, {{source}}
          </div>
          <div class="col-md-12">
            <h5 class="card-title">{{title}}</h5>
            <div class="card-text text-justify">
              {{content | slice:0:240}}...
            </div>
          </div>
          <div class="col-md-12 mt-2 small" style="display: inline-block;">
            <i class="fa fa-bell"></i> Estimated Effect:
            <app-news-card-asset *ngFor="let asset of relatedInvestments" [assetName]="asset.asset" [influence]="asset.epectedEffect"></app-news-card-asset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
