<div style="overflow-x: hidden; width: inherit;">
  <div class="container-fluid" style="width: calc(100vw - 280px);">
    <div class="row">
      <div class="col-md-6" style="height: 37.5vw; background-color: lightgray;"><app-news-top-left></app-news-top-left></div>
      <div class="col-md-6" style="height: 37.5vw; background-color: gray;"><app-news-top-right></app-news-top-right></div>
      <div class="col-md-6" style="height: 37.5vw; background-color: gray;"><app-news-bottom-left></app-news-bottom-left></div>
      <div class="col-md-6" style="height: 37.5vw; background-color: lightgray;"><app-news-bottom-right></app-news-bottom-right></div>
    </div>
  </div>

</div>
