<div class="nav-component" style="position: relative">
  <div class="list-group" style="width: 280px">
    <a routerLink="/dashboard" href="#" class="list-group-item list-group-item-action">
      <i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard
    </a>
    <a routerLink="/news" href="#" class="list-group-item list-group-item-action">
      <i class="fa fa-feed" aria-hidden="true"></i>News
    </a>
    <a routerLink="/chat" href="#" class="list-group-item list-group-item-action">
      <i class="fa fa-comments" aria-hidden="true"></i>FinBot
    </a>
  </div>
  <div class="list-group fixed-bottom" style="width: 280px;">
    <a href="#" class="list-group-item list-group-item-action">
      <i class="fa fa-wrench" aria-hidden="true"></i>Setting
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <i class="fa fa-envelope-open-o" aria-hidden="true"></i>Contact
    </a>
    <a class="list-group-item small mb-3">
      2017 &copy; Coconut Agile<br/>
      IS4301 Agile and DevOps
    </a>
  </div>
</div>

