<div class="card dashboard-card">
  <div class="card-header">
    Portfolio
  </div>
  <div class="card-body">
    <div style="display: block;">
      <canvas baseChart
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [colors]="chartColors"
              [legend]="chartLegend"
              [chartType]="'line'"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
              height="72"
      ></canvas>
    </div>

  </div>
</div>
