<div class="container">
  <div class="row">
    <!--<div class="col"></div>-->
    <div class="col">
      <div class="row mt-5">
        <div class="col" *ngFor="let card of cards">
          <app-db-indicator-card [name]="card.name" [value]="card.value" [icon]="card.icon"></app-db-indicator-card>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <app-db-line-chart></app-db-line-chart>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <app-db-market-trends></app-db-market-trends>
        </div>
        <div class="col">
          <app-db-recent-activities></app-db-recent-activities>
        </div>
      </div>
    </div>
  </div>
</div>
