/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'assets/font-awesome-4.7.0/css/font-awesome.css';

body{
  margin: 0;
}

.fa{
  padding: 1px;
  margin: 1px;
}
