<div class="row py-3">
  <div class="col-md-1 text-center">
    <img src="./assets/img/avatar.png" class="rounded-circle" alt="avatar" height="50px">
  </div>
  <div class="col">
    <!--<div class="row small" style="color: darkgray">-->
      <!--<div class="col">-->
        <!--<span>small</span>-->
      <!--</div>-->
    <!--</div>-->

    <div class="row">
      <div class="col">
        <form>
          <div class="form-group">
            <div class="input-group mt-2 ml-2 mr-sm-2 mb-sm-0">
              <input type="text" class="form-control" placeholder="Message">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
